:root {
    --primary-background-color: #202020;
    --priamry-text-color: #9f9f9f;
    --secondary-background-color: #3f3f3f;
    --secondary-text-color: #cccccc;

    /*  Nav & Footer  */
    --NF-background-color: #101010;
    --NF-text-color: #9f9f9f;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: var(--primary-background-color);
}

.contact-page{
    /*background-image: url("../../public/img/gridC.png");*/
    backdrop-filter: blur(20px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#home-image {
    background-image: url("../../public/img/hor (8).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}