:root {
    --primary-background-color: #f5e8dd;
    --priamry-text-color: #202020;
    --secondary-background-color: #f5e8dd;
    --secondary-text-color: #202020;

    /*  Nav & Footer  */
    --NF-background-color: #1d1d1d;
    --NF-text-color: #ccc;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: var(--primary-background-color);
}

.contact-page {
    backdrop-filter: blur(20px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#home-image {
    background-image: url("../../public/img/IMG_4078.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.con-tigraph {
    background-color: crimson;
    @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
        padding: 2rem 10rem;
    }
}